<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <link th:href="@{/css/bootstrap.min.css}"
          href="css/bootstrap.min.css" rel="stylesheet">
    <style>
        .container {
            max-width: 560px;
        }
    </style>
</head>
<body>

<div class="container">

    <div class="py-5 text-center">
        <h2>Product Registration Form</h2>
    </div>

    <form action="item.html" th:action method="post">
        <div>
            <label for="itemName">Product Name</label>
            <input type="text" id="itemName" name="itemName" class="form-control" placeholder="Enter name">
        </div>
        <div>
            <label for="price">Price</label>
            <input type="text" id="price" name="price" class="form-control" placeholder="Enter price">
        </div>
        <div>
            <label for="quantity">Quantity</label>
            <input type="text" id="quantity" name="quantity" class="form-control" placeholder="Enter quantity">
        </div>

        <hr class="my-4">

        <div class="row">
            <div class="col">
                <button class="w-100 btn btn-primary btn-lg" type="submit">Register Product</button>
            </div>
            <div class="col">
                <button class="w-100 btn btn-secondary btn-lg"
                        onclick="location.href='items.html'"
                        th:onclick="|location.href='@{/items}'|"
                        type="button">Cancel
                </button>
            </div>
        </div>

    </form>

</div> <!-- /container -->
</body>
</html>
